.logo {
    height: 60%;
    width: 60%;

    #separator {
        animation: desktop-logo-translate 1 2s linear;
        transform-origin: center;
    }
}

/* Mobile styles */
@media screen and (max-width: 768px) {
    .logo {
        height: 70%;
        width: 70%;
    }
}

/* Animation Keyframes */
@keyframes desktop-logo-translate {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}