.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo, .separator, .tag-line {
    margin: 5px 0 5px 0;
}

.logo, .logo-name {
    width: 800px;
    margin-bottom: 15px;
}

.mobile-logo, .logo-name {
    width: 200px;
    margin-bottom: 15px;
}

.separator {
    border-top: 2px solid white;
    width: 175px;
    border-radius: 3px;
    animation: logo-translate 1 2s linear;
}


.logo-container .tag-line {
    font-weight: 300;
}

@keyframes logo-translate {
    0% {
        width: 20px;
    }
    100% {
        width: 175px;
    }
}