.logo {
    height: 60%;
    width: 60%;
}

.logo #separator {
    animation: logo-translate 1 2s linear;
    transform-origin: center;
}

/* Mobile styles */
@media screen and (max-width: 768px) {

    .logo {
        height: 70%;
        width: 70%;
    }

    .logo #separator {
        animation: logo-translate 1 2s linear;
        transform-origin: center;
    }
}

/* Animation Keyframes */
@keyframes logo-translate {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}