.mobile-logo {
  height: 90%;
  width: 90%;
}

.mobile-logo #separator {
  width: 1102px;
}

@media (prefers-reduced-motion: no-preference) {
  .mobile-logo #separator {
    animation: logo-translate 1 2s linear;
    transform-origin: center;
  }
}

.mobile-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}